<div id="features">
	<div class="wrap">
		<div class="grids features">
			<article class="grid-3 text-center">
				<i class="icon-trophy"></i>
				<h5>Expertly coded</h5>
				<p>Clean, professional code tested in all major browsers.</p>
			</article>
			
			<article class="grid-3 text-center">
				<i class="icon-cloud-download"></i>
				<h5>Instant delivery</h5>
				<p>Pay securely via PayPal and get the files instantly.</p>
			</article>
			
			<article class="grid-3 text-center">
				<i class="icon-comments"></i>
				<h5>Great support</h5>
				<p>Quick and reliable 1-to-1 support via e-mail and Twitter.</p>
			</article>
			
			<article class="grid-3 text-center">
				<i class="icon-wrench"></i>
				<h5>Further customization</h5>
				<p>Easily adjust the logo, backgrounds and typography with custom HTML and CSS.</p>
			</article>
		</div>
	</div>
</div>