<div id="header">
	<div class="wrap">
		<div class="grids">
			<div class="grid-12 social">	
				<h1 class="animated fadeIn">
					<a href="/" class="logo">Theme Bureau</a> 
				</h1>
				<a href="https://twitter.com/gmlnchv" class="twitter"><i class="icon-twitter"></i></a>
			</div>
		</div>
	</div>
</div>

<div id="nav">
	<div class="wrap">
		<nav>
			<a href="/themes">Big Cartel Themes</a>
			<a href="/showcase">Theme Showcase</a>
			<a href="/installation">Installation Guide</a>
			<a href="/license"></i> License</a>
		</nav>
	</div>
</div>