<div class="wrap">
		<div class="grids">
			<article class="grid-6 product-preview">
				<div class="image-preview">
					<a href="/themes/blocks">
						<img src="/assets/img/blocks_1_800px.jpg" />
					</a>	
				</div>
				<div class="title-preview">
					<a href="#"><h3>Blocks</h3></a>
				</div>
				</a>
			</article>
			
			<article class="grid-6 product-preview">
				<div class="image-preview">
					<a href="/themes/goods">
						<img src="/assets/img/goods_1_800px.jpg" />
					</a>	
				</div>
				<div class="title-preview">
					<a href="#"><h3>Goods</h3></a>
				</div>
				</a>
			</article>
		</div>
	</div>
</div>