{% block content %} 
	<div id="hero">
		<div class="wrap">
			<h2>Better Big Cartel Themes</h2>
			<p>Theme Bureau makes it easy to attract new customers and create beautiful Big Cartel storefronts using professionally designed Big Cartel themes.</p>
		</div>
	</div>
	
	{% include "themes" %}
	
	{% include "features" %}
	
	<hr>
	
	<div id="info">
		<div class="wrap">
			<div class="grids">
				<div class="grid-2"></div>
				
				<div class="grid-8 text-center">
					<h4>Email or tweet us directly for support</h4>
					<p>For general or pre-sale questions, to offer feedback or to just say hello, email us at&nbsp;<a href="mailto:hello@tbureau.co">hello@tbureau.co</a> or tweet to <a href="https://twitter.com/gmlnchv" target="_blank">@gmlnchv</a>.</p>
				</div>
				
				<div class="grid-2"></div>
			</div>
		</div>
	</div>
{% endblock %}