{% block content %} 
<div class="wrap">
	<h3>License</h3>
	
	<p>By purchasing or downloading Theme Bureau themes, you automatically agree to the following terms and conditions:</p>
	
	<div class="grids license">
		<div class="grid-8">
			<h5>You may</h5>
			<ul>
				<li>Use Theme Bureau themes royalty-free for personal or commercial projects. Credit is not necessary, but always appreciated.</li>
				
				<li>Alter, modify, or manipulate the themes to ﬁt your needs.</li>
			</ul>
			
			<h5>You may not</h5>
			<ul>
				<li>Resell or redistribute the themes in any way without written permission from Theme Bureau.</li>
				
				<li>Use the themes to create pornographic, libelous, obscene or defamatory material.</li>
			</ul>
			
			<h5>Refund Policy</h5>
			<p>All sales are ﬁnal. <mark>There are no refunds because of the digital format.</mark> However, if your ﬁles get damaged or lost, send us an email to <a mailto="orders@arcandtail.com">orders@arcandtail.com</a> and they will be replaced.</p>
			
			<h5>Disclaimer</h5>
			<p>All themes are provided "as is" without warranty of any kind, either expressed or implied. All ownership and copyright of the licensed themes remain the property of Theme Bureau.</p>
		</div>
		
		<div class="grid-4">
			<h5>Questions?</h5>
			<p>Any questions regarding this License Agreement or permitted uses of the themes can be sent to <a mailto="orders@arcandtail.com">orders@tbureau.co</a></p>
				
		</div>
	</div>	
</div>
{% endblock %}