{% block content %} 
<div class="wrap">
	<div class="grids">
		<div class="grid-6">
			<h1>Blocks</h1>
		</div>
	</div>
			
	<div class="grids product-main">       
        <div class="grid-4">
            	
            <p><strong>Blocks</strong> is a sleek and elegant showcase theme. A clean and effective design with a striking border-less layout will focus the customer's attention on your products.</p>
            
            <p>The theme features a sliding panel with the main navigation and a quick access to product categories. Blocks is fully responsive down to mobile. Resize your browser to see it in action or check out the theme on your mobile.</p>
            
            <h4>What's included?</h4>

			<ul>
				<li>Clean, responsive layout</li>
				<li>Social sharing buttons</li>
				<li>Schema.org microdata</li>
				<li>Instant delivery</li>
				<li>Secure payment via PayPal</li>
				<li>1-to-1 e-mail support</li>
				<li>Lifetime updates</li>
			</ul>
			
			<h4>What featured are supported?</h4>
			
			<ul>
				<li>Uploadable Logo</li>
				<li>Uploadable Background Image</li>
				<li>Background Color</li>
				<li>Text Color</li>
				<li>Links Color</li>
				<li>Links Rollovers Color</li>
				<li>Header Background (used for the top bar)</li>
				<li>Products Background (used for the product overlay)</li>
				<li>Font Selector</li>
				<li>Inventory Bars</li>
			</ul>

			<h4>Requirements</h4>
			
			<ul>
				<li>A paid Big Cartel <a href="http://bigcartel.com/signup" target="_blank">account.</a></li>
			</ul>  
			
			<p>Tested and supported in major modern browsers like Chrome, Safari, Internet Explorer (8+), and Firefox.</p>
			
			<a class="button full-width" href="http://blockstheme.bigcartel.com/" target="_blank">Live Demo</a>
			<a class="button full-width" href="http://tbureau.fetchapp.com/sell/vleefifu" target="_blank">Purchase for $59</a>
        </div>
        
        <div class="grid-8">
            <img src="../../assets/img/blocks_1_800px.jpg" />
            
            <hr>
            
            <img src="../../assets/img/blocks_2_800px.jpg" />
            
            <hr>
            
            <img src="../../assets/img/blocks_3_800px.jpg" />
        </div>
    </div>
    
    {% include "comments" %}
        
</div>
{% endblock %}