{% block content %} 
<div class="wrap">
	<div class="grids">
		<div class="grid-6">
			<h1>Goods</h1>
		</div>
	</div>
			
	<div class="grids product-main">       
        <div class="grid-4">
            	
            <p><strong>Goods</strong> is an elegantly minimal responsive Big Cartel theme, designed to dynamically adjust for different screen sizes and devices.</p>
            
            <p>Complete storefront for some and a great foundation to build on for others, Goods is the perfect general purpose theme that will suit any kind of Big Cartel store.</p>
            
            <h4>What's included?</h4>

			<ul>
				<li>Clean, responsive layout</li>
				<li>Home page carousel</li>
				<li>Social sharing buttons</li>
				<li>SEO microdata</li>
				<li>Instant delivery</li>
				<li>Secure payment via PayPal</li>
				<li>1-to-1 e-mail support</li>
				<li>Lifetime updates</li>
			</ul>
			
			<h4>What featured are supported?</h4>
			
			<ul>
				<li>Uploadable Logo</li>
				<li>Uploadable Background Image</li>
				<li>Background Color</li>
				<li>Text Color</li>
				<li>Links Color</li>
				<li>Links Rollovers Color</li>
				<li>Font Selector</li>
				<li>Featured Products</li>
				<li>Inventory Bars</li>
			</ul>

			<h4>Requirements</h4>
			
			<ul>
				<li>A paid Big Cartel <a href="http://bigcartel.com/signup" target="_blank">account.</a></li>
				<li>Hosting for your slideshow images (for example, <a href="http://imgur.com/" target="_blank">imgur.com</a>).</li>
			</ul>  
			
			<p>Tested and supported in major modern browsers like Chrome, Safari, Internet Explorer (7+), and Firefox.</p>
			
			<a class="button full-width" href="http://goodstheme.bigcartel.com/" target="_blank">Live Demo</a>
			<a class="button full-width" href="http://tbureau.fetchapp.com/sell/akaevahz" target="_blank">Purchase for $59</a>
        </div>
        
        <div class="grid-8">
            <img src="../../assets/img/goods_1_800px.jpg" />
            
            <hr>
            
            <img src="../../assets/img/goods_2_800px.jpg" />
            
            <hr>
            
            <img src="../../assets/img/goods_3_800px.jpg" />
        </div>
    </div>
    
    {% include "comments" %}   
</div>
{% endblock %}